$light: rgba(189, 189, 189, 1);
$main_color: rgba(255, 114, 53, 1);
.use__container {
  display: flex;
  gap: 33px;
  background-color: rgba(255, 255, 255, 1);
  padding: 149px 162px 148px 165px;
}

.use-left {
  h6 {
    text-transform: uppercase;
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: $light;
  }
  h2 {
    padding-top: 24px;
    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
  }
  p {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    color: $light;
    padding-bottom: 24px;
  }
}

.use-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  a {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: $main_color;
    transition: all 0.5s;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 0 40px;
  }
  .use-left {
    h6 {
      font-size: 20px;
      line-height: 20px;
    }
    p {
      padding-top: 22px;
      font-size: 70px;
      line-height: 60px;
    }
    h2 {
      padding-top: 20px;
      font-size: 80px;
      line-height: 80px;
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 30px;
  }
  .use__container {
    flex-direction: column;
  }
  .use-left {
    h6 {
      font-size: 15px;
      line-height: 15px;
    }
    p {
      padding-top: 18px;
      font-size: 50px;
      line-height: 40px;
    }
    h2 {
      padding-top: 20px;
      font-size: 80px;
      line-height: 80px;
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 20px;
  }

  .use-left {
    h6 {
      text-align: center;
      font-size: 12px;
      line-height: 12px;
    }
    p {
      text-align: center;
      padding-top: 14px;
      font-size: 40px;
      line-height: 30px;
    }
    h2 {
      text-align: center;
      padding-top: 16px;
      font-size: 65px;
      line-height: 65px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .use-left {
    h6 {
      text-align: center;
      font-size: 8px;
      line-height: 8px;
    }
    p {
      text-align: center;
      padding-top: 8px;
      font-size: 20px;
      line-height: 20px;
    }
    h2 {
      text-align: center;
      padding-top: 12px;
      font-size: 50px;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 0 10px;
  }

  .use-left {
    h6 {
      text-align: center;
      font-size: 6px;
      line-height: 6px;
    }
    p {
      text-align: center;
      padding-top: 6px;
      font-size: 14px;
      line-height: 14px;
    }
    h2 {
      text-align: center;
      padding-top: 8px;
      font-size: 35px;
      line-height: 35px;
    }
  }
}
